<div class="container">
  <div class="button-row">
    <button class="header" (click)="showContent('arr2d')">Array 2D</button>
    <button class="header" (click)="showContent('linked-list')">Linked List</button>
    <button class="header" (click)="showContent('hashmap')">Hash Map</button>
    <button class="header" (click)="showContent('bst')">Binary Search Tree</button>
    <button class="header" (click)="showContent('stack')">Stack</button>
    
  </div>

  <div class="button-row">
    <button class="header" (click)="showContent('queue')">Queue</button>
    <button class="header" (click)="showContent('doublylinkedlist')">Doubly-Linked List</button>
    <button class="header" (click)="showContent('dfsbfs')">DFS/BFS</button>
  </div>

  <div *ngIf="selectedContent === 'arr2d'">
    <app-arr2d></app-arr2d>
  </div>
  <div *ngIf="selectedContent === 'linked-list'">
    <app-linked-list></app-linked-list>
  </div>
  <div *ngIf="selectedContent === 'hashmap'">
    <app-hashmap></app-hashmap>
  </div>
  <div *ngIf="selectedContent === 'bst'">
    <app-bst></app-bst>
  </div>
  <div *ngIf="selectedContent === 'stack'">
    <app-stack></app-stack>
  </div>
  <div *ngIf="selectedContent === 'queue'">
    <app-queue></app-queue>
  </div>

  <div *ngIf="selectedContent === 'doublylinkedlist'">
    <app-doublylinkedlist></app-doublylinkedlist>
  </div>

  <div *ngIf="selectedContent === 'dfsbfs'">
    <app-dfsbfs></app-dfsbfs>
  </div>


</div>


