.main-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #0066cc;
  }
  
  .chapter-header{
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 60px ;
    align-items: center;
    margin: auto;
  }
  
  .container {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    height: 300px;
    width: 50%;
    justify-items: center;
    
  }
  
  .element {
    text-align: center;
    width: 50px;
    margin-right: 2px;
    font-family: 'Press Start 2P', cursive;
  }
  
  
  .bubble-sort-btn{
    display: inline-block; /* Use flexbox layout */
    justify-content: center; /* Center the buttons horizontally */
    width: 50%;
    margin-left: auto;
  }
  
  .bubble-sort-btn button {
    background-color: #d0b640;
    color: white;
    width: 12rem;
    height: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    border: none;
    margin: 10px;
    font-family: "Open Sans";
  }
  
  .bubble-sort-btn button:hover {
    background-color: orange;
    color: white;
    font-weight: bolder;
    border: none;
    font-family: "Open Sans";
  }
  
  .bubble-sort-btn button:active {
    color: #0066cc;
    background-color: white;
    font-weight: bolder;
    border-radius: 10px;
    /* border: none; */
    outline: none;
    border: 2px solid #0066cc;
    font-family: "Open Sans";
  }

 /* practice code */
 .practice-code{
    display: inline-block;
    width: 100%;
    background-color: #0066cc;
 }

 input[type="text"]{
  width: 50px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */

}
  pre {
    background-color: #0066cc;
    /* padding: 10px; */
    border-radius: 5px;
    font-size: 14px;
    overflow-x: auto;
  }
  
.practice {
  display: flex; /* Use flexbox to align items side by side */
  align-items:center; /* Align items at the top */
}

/* Style for the code div */
.code {
    font-size: 20px;
    font-weight: bold;
    font-family: "Open Sans";
    color: white;
}
#startvalue {
  border: 3px solid rgb(255, 191, 0);
}

/* Style for the solution div */
.solution {
    padding: 10px; 
    width: fit-content;
    margin: auto;
    height: fit-content;
}

/* Style for correct message */
.checkRes.correct {
    border: 2px solid green; /* Add a green border */
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: "Open Sans";
    padding: 10px; /* Add padding for spacing */
}

/* Style for incorrect message */
.checkRes.incorrect {
    border: 2px solid red; /* Add a red border */
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    font-family: "Open Sans";
    padding: 10px; /* Add padding for spacing */
}