.chapter-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: coral;
    font-weight: 600;
  }
  

.container{
    display: flex;
    justify-content: center;
}

.node {
    position: relative;
    width: 80px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: solid 5px rgb(33, 142, 33);
    text-align: center;
    margin-right: 50px;
  }
  
  .arrow-line {
    position: absolute;
    left: 100px;
    top: 23px;
    height: 10px;
    width: 40px;
    background-color: gray;
  }
  
  .arrow-right {
    position: absolute;
    left: 85px;
    top: 4px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 20px solid gray;
  }


  .node-content{
    text-align: center;
    font-weight: 1000;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: orange;
  }

  #array-table-buttons{
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the buttons horizontally */
  }
  
  #array-table-buttons button {
      background-color: #d0b640;
      color: white;
      width: 20%;
      height: 2rem;
      border-radius: 10px;
      /* box-shadow: 2px 2px 2px gray; */
      border: none;
      margin: 10px;
      font-family: "Open Sans";
      margin-bottom: 4%;
    }
  
    #array-table-buttons button:hover {
      background-color: orange;

    }
  
    #array-table-buttons button:active {
      color: #0066cc;
      background-color: white;
      font-weight: bolder;
      border-radius: 10px;

      margin: 2px;
      outline: none;
      border: 2px solid #0066cc;
      font-family: "Open Sans";
    }


    .queue-size{
        text-align: center;
        margin-bottom: 1%;
    }


    #array-popup {
      position: fixed;
      z-index: 1;
      padding-top: 100px;
      color: black;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
    }
      
    #array-popup-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
    }


    .close {
      color: #000000;
      float: right;
      font-size: 35px;
      font-weight: bold;
    }
  
  .close:hover,
  .close:focus {
    color: #787070;
    text-decoration: none;
    cursor: pointer;
  }


  .table-container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: orange;
}

tr:hover {
    background-color: lightgreen;
}

.nodeindex{
  display: block;
  padding-top: 20px;
}