
<!-- <app-datatype></app-datatype>
<app-operators></app-operators>
<app-classobject></app-classobject>
<app-array1d></app-array1d>
<app-bubble-sort></app-bubble-sort>
<app-insertion-sort></app-insertion-sort>
<app-selection-sort></app-selection-sort>
<app-practice></app-practice> -->



<div class="container">
    <div class="button-row">
      <button class="header" (click)="showContent('datatype')">Data Types</button>
      <button class="header" (click)="showContent('operators')">Operators</button>
      <button class="header" (click)="showContent('classobject')">Class & Object</button>
      <button class="header" (click)="showContent('selection-sort')">Selection Sort</button>
    </div>
  
    <div class="button-row">
      <button class="header" (click)="showContent('array1d')">Array 1D</button>
      <button class="header" (click)="showContent('bubble-sort')">Bubble Sort</button>
      <button class="header" (click)="showContent('insertion-sort')">Insertion Sort</button>
      <button class="header" (click)="showContent('practice')">Practice</button>
    </div>
  
  
    <app-datatype *ngIf="selectedContent === 'datatype'"></app-datatype>
    <app-operators *ngIf="selectedContent === 'operators'"></app-operators>
    <app-classobject *ngIf="selectedContent === 'classobject'"></app-classobject>
    <app-array1d *ngIf="selectedContent === 'array1d'"></app-array1d>
    <app-bubble-sort *ngIf="selectedContent === 'bubble-sort'"></app-bubble-sort>
    <app-insertion-sort *ngIf="selectedContent === 'insertion-sort'"></app-insertion-sort>
    <app-selection-sort *ngIf="selectedContent === 'selection-sort'"></app-selection-sort>
    <app-practice *ngIf="selectedContent === 'practice'"></app-practice>
</div>


