

<div class="container">
    <div class="button-row">
      <button class="header" (click)="showContent('tls')">TLS Connection</button>
      <button class="header" (click)="showContent('cc')">Caesar Cipher</button>
      <button class="header" (click)="showContent('pke')">Public Key Encryption</button>
    </div>
  
    <app-illustrated *ngIf="selectedContent === 'tls'"></app-illustrated>
    <app-caesar-cipher *ngIf="selectedContent === 'cc'"></app-caesar-cipher>
    <app-publickeyenc *ngIf="selectedContent === 'pke'"></app-publickeyenc>
</div>



<!-- ##########################Materials##############################  -->
