
<div class="container">
    <h2>Find the Missing Element in an Array</h2>
    <p>Given an array containing positive integers from 1 to n (inclusive) with one number missing, your goal is to find and return the missing positive integer from the array.
    </p>

    <div class="array-table center">
        <div class="array-length">Array Length: {{arr.length}}</div>
        <div class="array-display">
            <div class="array-element" *ngFor="let ele of arr; let i = index">
                <div>
                    {{ele}}
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div>
        <h3>Code to Complete:</h3>
        <pre>
        <div class="practice">
            <div class="code">
                <code>
for (int i = 1; i < max(array); i++) {{ '{' }}
    if (array[i] != <input type="text" id="startvalue" [(ngModel)]="input2" (ngModelChange)="checkInput()"/>) {{ '{' }}
        return True;
    {{ '}' }}
{{ '}' }}
return False;
            </code>
            </div>

            <div class="solution" *ngIf="input2">
                <div class="checkRes incorrect" *ngIf="!checkres"> 
                    <p>You Make A Mistake!</p>
                </div>
                <div class="checkRes correct" *ngIf="checkres"> 
                    <p>You Are Correct!</p>
                </div>
            </div>
        </div>
        </pre>
    </div>
</div>