<div class="cond-operator">
    <h1 class="chapter-header">
      Condition Operator and Mathematical Operator
    </h1>
    
    <p class="class-obj-text">Condition operators are symbols used in programming languages to evaluate a condition and determine the flow of execution of a program. 
      Mathematical operators are symbols used in programming languages to perform arithmetic operations.
      <br>
      In Java, some commonly used condition operators are:</p>
    <li class="class-obj-text">"==": check if two variables are equal</li>
    <li class="class-obj-text">"!=": check if two variables are different</li>
    <li class="class-obj-text">">": check if the left variable is greater than the right variable</li>
    <li class="class-obj-text">"<": check if the left variable is smaller than the right variable</li>
    <li class="class-obj-text">">=": check if the left variable is greater than or equal the right variable</li>
    <li class="class-obj-text">"<=": check if the left variable is smaller than or equal the right variable</li>
    
    
    <p class="class-obj-text">Some commonly used Mathematical Operators are:</p>
    <br>
    <li class="class-obj-text">"+": Addition</li>
    <li class="class-obj-text">"-": Subtraction</li>
    <li class="class-obj-text">"*": Multiplication</li>
    <li class="class-obj-text">"/": Division</li>
    <li class="class-obj-text">"%": Modulo</li>
</div>