<div class="container">
    <div class="row">
        <div class="column" id = "Khadija">
            <h3>Prof. Khadija Steward</h3>
            <div class="profile-link">
                <img class="profile-pic" src="./assets/images/kha2.jpg"/>
            </div>

            <div class = "description">
                <div class="personal-information">
                    <p>
                        HERRICK E.H. GREENLEAF PROFESSOR OF COMPUTER SCIENCE AND PROFESSOR OF COMPUTER SCIENCE
                        <br>
                        Ph.D in Electrical and Computer Engineering from Southern Illinois University, Carbondale IL.
                        <br>
                        M.S in Electrical Engineering from Southern Illinois University, Carbondale IL.
                        <br>
                        B.S in Computer Engineering form Clemson University, Clemson SC. 
                    </p>
                </div>
        
            
                <div class="info">
                    <ul>
                        <li><b>Email: </b>khadijastewart@depauw.edu </li>
                        <li>Profile: <link rel="stylesheet" href="http://academic.depauw.edu/~khadijastewart/main.htm"> Personal Website</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="column">
            <h3>Minh Thy Nguyen</h3>
            <div class="profile-link">
                <img class="profile-pic" src="./assets/images/thie.jpg"/>
            </div>
            <div class = "description">
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <div class="info">
                    <ul>
                        <li>Email</li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="column" id = "Alan">
            <h3>Tuan (Alan) Le</h3>
            <div class="profile-link">
                <img class="profile-pic" src="./assets/images/tuan.jpg"/>
            </div>
    
            <div class = "description">
                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            
        
                <div class="info">
                    <ul>
                        <li>Email</li>
                        <li>Profile</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
