<h1 class="chapter-header">
    Data Type in Computer Science
</h1>
<p class="dataDescription">
    In computer science and computer programming, a data type (or simply type) is a collection or grouping of data values, usually specified by a set of possible values, a set of allowed operations on these values, and/or a representation of these values as machine types.
    A data type specification in a program constrains the possible values that an expression, such as a variable or a function call, might take. On literal data, it tells the compiler or interpreter how the programmer intends to use the data.
</p>


<div class="table">
    <div class="row">
      <div class="header"><b>Data Type</b></div>
      <div class="header"><b>Description</b></div>
      <div class="header"><b>Storage Capacity</b></div>
      <div class="header"><b>Example</b></div>
    </div>
    <div class="row">
      <div class="cell">Integer (int)</div>
      <div class="cell">Stores whole numbers that are Natural numbers. Using 4 bytes or 32 bits to store an Integer</div>
      <div class="cell">Ranging from -2,147,483,647 to 2,147,483,647</div>
      <div class="cell">13  21  36</div>
    </div>
    <div class="row">
      <div class="cell">Integer (long)</div>
      <div class="cell">Represent integers, or whole numbers. It is similar to the int data type, but it is typically larger in size using 64 bits and can store a wider range of values.</div>
      <div class="cell">Ranging from -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807</div>
      <div class="cell">223372036854775808</div>
    </div>

    <div class="row">
        <div class="cell">Floating Points (float)</div>
        <div class="cell">Represent floating-point numbers, or numbers with decimal places. It is a primitive data type that can store positive or negative real numbers, including numbers with decimal places.</div>
        <div class="cell">Implemented as a double-precision floating-point number, with a precision of 15-17 decimal places.</div>
        <div class="cell">2.3  3.4  1.7</div>
    </div>

    <div class="row">
        <div class="cell">Floating Points (double)</div>
        <div class="cell">Similar to the float data type, but it is typically larger in size and provides a higher precision for storing floating-point numbers. 
            The size of a double data type varies depending on the programming language and system, but it typically ranges from 64 to 128 bits.</div>
        <div class="cell">Implemented as a double-precision floating-point number, with a precision of 30-35 decimal places.</div>
        <div class="cell">2.132412343247</div>
    </div>

    <div class="row">
        <div class="cell">String (string)</div>
        <div class="cell"> Represent sequences of characters, such as words, sentences, or entire texts. 
            It is a non-primitive data type that is typically implemented as an object in most modern programming languages, including Java, Python, and C#.</div>
        <div class="cell">Maximum of 2147483647 characters</div>
        <div class="cell">"Hello World!"</div>
    </div>
</div>
