<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">

<div class="main-container">
  <div class="nav-container">
      <ul>
          <li [routerLinkActive]="'active'"><a routerLink="Home">Home</a></li>
          <!-- <li [routerLinkActive]="'active'"><a href="https://www.depauw.edu/">About DePauw</a></li> -->
          <li [routerLinkActive]="'active'"><a [routerLink]="['Contact']">Contact</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="Courses">Courses</a></li>
          <span style="float:right">
              <li (click) = "login()"><a>Login</a></li>
              <li (click) = "logout()"><a>Logout</a></li>
          </span>
          <div class="image-container">
            <img src="assets/images/logo.png" alt="" width="45px" height="45px">
          </div>
      </ul>
  </div>
  <div class="component-container">
      <router-outlet id="Course"></router-outlet>
  </div> 
</div>

