.container {
    display: flex;
  }
  
  .node {
    position: relative;
    width: 80px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: solid 5px rgb(33, 142, 33);
    text-align: center;
    margin-right: 50px;
  }
  
  .arrow-line {
    position: absolute;
    right: -35px;
    top: 20px;
    height: 10px;
    width: 30px;
    background-color: gray;
  }
  
  .arrow-right {
    position: absolute;
    right: -55px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid gray;
  }


  .node-content{
    text-align: center;
    justify-content: center;
    font-weight: 1000;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    color: orange;
  }


  p{
    font-weight: 500;
  }



  .center{
    position:relative; 
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0%);
    padding: 2px;
    display: block;
  }
  
  #array-table-buttons{
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the buttons horizontally */
  }
  
  #array-table-buttons button {
      background-color: #d0b640;
      color: white;
      width: 20%;
      height: 2rem;
      border-radius: 10px;
      /* box-shadow: 2px 2px 2px gray; */
      border: none;
      margin: 10px;
      font-family: "Open Sans";
    }
  
    #array-table-buttons button:hover {
      background-color: orange;

    }
  
    #array-table-buttons button:active {
      color: #0066cc;
      background-color: white;
      font-weight: bolder;
      border-radius: 10px;

      margin: 2px;
      outline: none;
      border: 2px solid #0066cc;
      font-family: "Open Sans";
    }
  
    #array-popup {
      position: inline-block;
      width: 100%;
      height: 100%;
      overflow: auto;
    }
      
    #array-popup-content {
      background-color: #e5d386;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
    }
    .array-size{
      color: coral;
      font-size: 15px;
      font-weight: 600;
    }

  
    #array-index {
      width: 100%;
      height: 100%;
      overflow: auto;
    }
      
    #array-index-content {
      background-color: #e5d386;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
    }
  
  
#array-value {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
  
#array-value-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}



.runloop{
  display: inline-block;
  width: 100%;
}
  
#loop-through button {
  background-color: #00b300;
  color: white;
  width: 12rem;
  height: 2rem;
  border-radius: 20px;
  border: none;
  margin: 10px;
  font-size: large;
  font-family: "Open Sans";
}

#loop-content button {
  background-color: #00b300;
  color: white;
  width: 12rem;
  height: 2rem;
  border-radius: 20px;
  border: none;
  margin: 10px;
  font-size: large;
  font-family: "Open Sans";
  width: 100%;
}
  
#loop-through button:hover {
  background-color: #008000;
  color: white;
  font-weight: bolder;
  border: none;
  margin: 2px;
  font-family: "Open Sans";
}

#loop-content button:hover {
  background-color: #008000;
  color: white;
  font-weight: bolder;
  border: none;
  margin: 2px;
  font-family: "Open Sans";
}
  
#loop-through button:active {
  color: #008000;
  background-color: white;
  font-weight: bolder;
  border-radius: 10px;
  margin: 2px;
  outline: none;
  border: 2px solid #008000;
  font-family: "Open Sans";
}

#loop-content button:active {
  color: #008000;
  background-color: white;
  font-weight: bolder;
  border-radius: 10px;
  margin-left: 45%;
  margin: 2px;
  outline: none;
  border: 2px solid #008000;
  font-family: "Open Sans";
}



#index-info {
  width: auto;
  margin-right: 1em;
  float: left;
}

#index-info-popup {
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
  
#index-info-popup-content {

  background-color: #e5d386;
  margin-left: 20%;
  position: flex;
  padding: 10px 18px 10px 18px;
  border: 1px solid #888;
  width: 60%;
}

  #index-info-popup-content h2 {
    margin: 1rem;
  }

  #index-info-popup-content p {
    margin: 1rem;
  }

  #for-loop {
    text-align: center;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#loop-content {
  display: block;
  width: 100%;

}

#array-table #index-row {
  text-align: center;
}

li{
  font-size: 0.5cm;
}
.chapter-header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: coral;
  font-weight: 600;
}
