<header>
    <div class='header-container'>
      <h2>BFS/DFS Pathfinder</h2>
      <div class='maze-container'>
        <span id='maze-1'>MAZE 1</span>&nbsp;|&nbsp;
        <span id='maze-2'>MAZE 2</span>&nbsp;|&nbsp;
        <span id='maze-3'>MAZE 3</span>
      </div>
    </div>
  </header>
  <div class='bfs-dfs-container'>
    <div class='bfs'>
      Breadth-First Search<br>
      <canvas id='bfs-graph'></canvas>
    </div>
    <div class='dfs'>
      Depth-First Search<br>
      <canvas id='dfs-graph'></canvas>
    </div>
  </div>
  <div class='button-container'>
    <button type="button" id="play" name="play">
      <i class="fa fa-play" aria-hidden="true"></i>
    </button>
    <button type="button" id="reset" name="reset">
      <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>
  </div>