<div class="container" >
    <div class="bgimg">
        <!-- <h1 class="center">DePauw Computer Science <br>Code Visualization</h1> -->
    </div>
    
    <div class="introduction">
        <div class="image-coding">
            <img src="./assets/images/coding.jpeg" alt="coding" width="800px" height="400px">
        </div>
        <div class="intro-text">
            <p style="font-size: large;">
                The most important aspect of computer science is problem solving, an essential skill for life. 
                Students study the design, development and analysis of software and hardware used to solve problems in a variety of business, scientific and social contexts. 
                Because computers solve problems to serve people, there is a significant human side to computer science as well.
                <br><br>
                DePauw Computer Science graduates pursue careers with companies that provide hardware, software or services for use in business, education, science, government, entertainment and research. Students may also choose to attend graduate school to further their study.
                <br><br>
                This webpage is a study guide for computer science course. It contains various data structures accompanied with their visualizations to
                give students a better understanding of computer science concept. These data structures are from computer science courses at DePauw University
                Computer Science courses which can be found on <a href="https://www.depauw.edu/academics/departments-programs/computer-science/" alt="this link">DePauw website</a>
            </p>
        </div>
    </div>
  </div>
  
  
<app-footer *ngIf="showFooter">
    <div class="footer-container">
        <div class="footer-left">
        <p>Copyright © 2023 DePauw University Computer Science Department</p>
        </div>
        <div class="footer-right">
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
        </div>
    </div>
</app-footer>