<div class="container" >

    <div class="intro">
        <div class="header">
            <h3>Welcome to DePauw's Coding Playground!</h3>
            
        </div>
        <div class="gif">
            <img src="./assets/aoma/aoma5.gif" alt="sqlgif.gif" width="600px">
        </div>
    </div>
    <p>Computer Science is for everyone<p>
    
    <div class="section">
        <div class="codegif">
            <img src="./assets/aoma/aoma3.gif" alt="codegif">
        </div>
        <div class="describe">
            <p> Computer science emphasizes problem-solving through software and hardware across different sectors. DePauw CS alumni find opportunities in various industries and higher education. This webpage provides data structure study resources with visuals for DePauw CS courses and comprehensive information about all CSC courses at DePauw University, covering a wide range of CS concepts.
            </p> 
        </div>
        
    </div>

    <div class="header2">
        <h1>Who Can Use DePauw's Playground?</h1>
    </div>

    <div class="user">
        <div class="u1">
            <div class="userimg">
                <img src="./assets/images/vsl.png" alt="coderimg">
            </div>

            <div class="role">
                Visualized Learning
            </div>
            <div class="describe">
                This website offers visualizations of various data structures used in Computer Science, providing students with a more intuitive understanding of complex concepts. 
            </div>
        </div>

        <div class="u1">
            <div class="userimg">
                <img src="./assets/images/apl.png" alt="analystsimg">
            </div>

            <div class="role">
                Applied Learning
            </div>
            <div class="describe">
                This website also offers coding practice problems transform theoretical concepts into practical skills, allowing students to actively engage with the subject matter and deepen their understanding.
            </div>
        </div>
    </div>
    
    
  </div>
  
  
<app-footer>
    <div class="footer-container">
        <div class="footer-left">
        <p>Copyright © 2023 DePauw University Computer Science Department</p>

            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </div>
    </div>
</app-footer>