.container {
    width: 100%; /* Adjust the max width as needed */
    padding: 20px;
    position: flex;
}

.intro{
    display: flex;
    width: 100%;
    /* border: 4px solid white ; */
    height: 500px;
}


.gif{
    width: 50%;
}
.gif img{
    border-radius: 30px;
}

.header{
    margin-top: 280px;
    width: 50%;
}
.header h3{
    font-size: 64px;
    color: #fff;
    line-height: 1;
}
p{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16%;
}

/* Style for paragraphs */

.section{
    width: 100%;
    height: fit-content;
    align-items: center;
    border-radius: 40px;
    display: flex;
    margin-bottom: 16%;
}

.section p {
  width: 95%;
  font-size: 28px;
  line-height: 2;
  margin: 1%;
  text-align: justify;
}




/* Styles for the arrow connecting divs */


/* Styles for the container */

/* Footer Decoration */



.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.footer-left {
  color: #fff;
  text-align: left;
}
.footer-container p{
  margin-bottom: 0%;
}


/* Decorate purpose */

.user {
  display: flex; /* Make the .user container a flex container */
  justify-content: space-between; /* Distribute the .u1 elements with space in between */
  width: 100%;
  margin-bottom: 20%;
}

.u1 {
  flex: 1; /* Each .u1 element takes equal width within the .user container */
  /* border: 2px solid purple;  */
  text-align: center; /* Center align content */
  padding: 10px; /* Add some padding for spacing */
  margin: 10px; /* Add margin for spacing between .u1 elements */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  height: 400px;
}

.userimg {
  /* border: 2px solid #fff;  */
  border-radius: 40px;
  padding: 10px; /* Add padding to the user image container */
  margin-bottom: 10px; /* Add margin at the bottom for spacing */
}
.userimg:hover{
  scale: 1.1
}
.userimg img {
  width: 35%; /* Make the image take up 100% of the container width */
  height: 35%; /* Maintain the aspect ratio of the image */
}

/* Additional styling for .role and .describe if needed */
.role {
  font-weight: bold;
  font-size: 30px;
}

.describe {
  color: #fff;
  /* text-align: justify; */
}
.header2{
  font-size: 30px;
}
