<div class="practice1" >
    <span class="close" (click)="close()" *ngIf="clickpractice1">&times;</span>
    <h1 *ngIf="!clickpractice1" (click)="practice1()">
      Find Two Numbers with Sum K
    </h1>
    <app-forloop *ngIf="clickpractice1"></app-forloop>
  </div>
  
  
  <div class="practice1" >
    <span class="close" (click)="close()" *ngIf="clickpractice2">&times;</span>
    <h1 *ngIf="!clickpractice2" (click)="practice2()">
      Find Duplicate
    </h1>
    <app-duplicate *ngIf="clickpractice2"></app-duplicate>
  </div>
  
  
  <div class="practice1" >
    <span class="close" (click)="close()" *ngIf="clickpractice3">&times;</span>
    <h1 *ngIf="!clickpractice3" (click)="practice3()">
      Find Missing Value
    </h1>
    <app-missing *ngIf="clickpractice3"></app-missing>
  </div>
  
  
  <div class="practice1" >
    <span class="close" (click)="close()" *ngIf="clickpractice3">&times;</span>
    <h1 *ngIf="!clickpractice3" (click)="practice3()">
      Find the Word in A String
    </h1>
    <app-missing *ngIf="clickpractice3"></app-missing>
  </div>
  
  
  <div class="practice1" >
    <span class="close" (click)="close()" *ngIf="clickpractice3">&times;</span>
    <h1 *ngIf="!clickpractice3" (click)="practice3()">
      Palindrome Word
    </h1>
    <app-missing *ngIf="clickpractice3"></app-missing>
  </div>